* {
    font-family : "Roboto", sans-serif;
    color: white;
}

html,body{
    height:100%;
    width:100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

p{
    font-size: 1.4em;
}

nav {
    height:50px;
    display:flex;
    align-items: center;
    overflow:hidden;
}

nav ul{
    margin:0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    float:left;
    
}

nav ul li a {
    padding:16px;
}

p a{
    color: #6D81CA
}

textarea{
    color: black;
}
nav ul li a:hover {
    background-color: #6D81CA ;
}

.blue {
    color: #6D81CA
}

.bg-blue {
    background-color: #6D81CA;
}

.card{
    width:300px;
    height:400px;
    margin:16px;
}

.card-media-container{
    height:40%;
    width:100%;
    background-color: #36393F;
}

.card-media{
    height:80%;
    width:80%;
    margin:auto;
    display:block;
    padding:16px;
}

.active-link{
    background-color:#EF5859 !important;
}

.content {
    padding:32px;
}

.description {
    text-align: justify;
    margin-top: 36px;
}

.centered-content{
    margin:auto;
    padding:32px;
}

.card-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.background-color-primary {
    background-color: #2F3136;
}

.background-color-secondary{
    background-color: #202225;
}

.card-text{
    padding: 16px;
}

.card-text a {
    color: #b08f26	;
}

.title{
    text-align:center;
    font-style:italic;
}

.responsive-16-9{
    height:0;
    padding-top:56.25%;
    width:100%;
    position:relative;
}

.responsive-embed{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

table{
    width:100%;
}

table, th, td {
    border: 1px solid #EF5859;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
  }



@media (min-width: 576px) { 
    .centered-content{
        width:100%;
    }

 }

@media (min-width: 768px) { 
    .centered-content{
        width:80%;
    }
 }

@media (min-width: 992px) { 
    .centered-content{
        width:70%;
    }
 }

@media (min-width: 1200px) { 
    .centered-content{
        width:40%;
    }
 }